# SUSE Observability Instance to use a backend
SO_URL=https://xxx-lab.app.stackstate.io
SO_API_KEY=tmnpPT69Z
SO_TOKEN=xxxxx
SO_OTLP=otel-xxx-lab.app.stackstate.io

# Remote Kubernetes Cluster under observation
LOCAL_CLUSTER=false
CLUSTER_NAME=lab-rav
KUBECONFIG_FILE_PATH=~/sts/repos/github/ravan/observability-examples
KUBECONFIG_FILE_NAME=cloud-kubeconfig

# helm add stackstate-addons https://ravan.github.io/helm-charts/
HELM_REPO=stackstate-addons